<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <style>
        h1 {
           text-align: center;
        }
        #links{
           text-align: center;
        }
        #links a{
            margin-left: 10px;
        }
        form{
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>Welcome to our first app!</h1>
<div id = "links">
    <a href="/view" >View Name</a>
    <a href="/add">Add Name</a>
</div>
<form action = "{{ url_for('index') }}" method = "get">
    <label for="newname">Add a Name</label><br>
    <input type="text" id="newname" name="newname"><br>
    <input type="submit" value="Sumbit">
</form>
</body>
</html>