<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <style>
        h1 {
           text-align: center;
        }
        #links{
           text-align: center;
        }
        #links a{
            margin-left: 10px;
        }
        form{
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>Welcome to our first app!</h1>
<div id = "links">
    <a href="/" >View Name</a>
    <a href="/add">Add Name</a>
</div>
<form action = "{{ url_for('index') }}" method = "get">
    <label for="firstname">First name:</label>
    <input type="text" id="firstname" name="firstname"><br>
    <label for="lastname">Last name:</label>
    <input type="text" id="lastname" name="lastname"><br>
    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday" name="birthday"><br>
    <label for="country">Country:</label>
    <input type="text" id="country" name="country"><br>
    <input type="submit" value="Sumbit">
</form>
</body>
</html>