
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        h1 {
           text-align: center;
        }
        #links{
           text-align: center;
        }
        #links a{
            margin-left: 10px;
        }
    </style>
</head>
<body>
<h1>Welcome to our first app!</h1>
<div id = "links">
    <a href="/" >View Name</a>
    <a href="/addform">Add Name</a>
</div>
<div id = "names">
    <h2>List of Names</h2>
    <ul>
    {%for person in people%}
        <a href="/personView?fullname={{person.firstname + '_' + person.lastname}}">
            <li>{{person.firstname}} {{person.lastname}}</li>
        </a>
    {% endfor %}
    </ul>
</div>
</body>
</html>